<html>
    <head>
        <title>Life quotations blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Life quotations</a></h1>
        </div>

        <div>
            <p>published: 24.06.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>“The purpose of our lives is to be happy.” </p>
            <h4>Quotation by: Dalai Lama</h4>
        </div>

        <div>
            <p>published: 24.06.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>“Get busy living or get busy dying.” </p>
            <h4>Quotation by: Stephen King</h4>
        </div>
    </body>
</html>